name: Hexo Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-18.04
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      # 签出分支
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          ref: master # 这是你的 Hexo 源文件所在的分支

      # 安装 Node
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"

      # 安装 Node
      - name: Setup Hexo
        env:
          ACTION_DEPLOY_KEY: ${{ secrets.HEXO_DEPLOY_KEY }}
        run: |
          mkdir -p ~/.ssh/
          echo "$ACTION_DEPLOY_KEY" > ~/.ssh/id_rsa
          chmod 700 ~/.ssh
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          git config --global user.email "whalefall9420@outlook.com"
          git config --global user.name "AdminWhaleFall"
          npm install hexo-cli yarn -g
          npm update --save hexo-theme-fluid

      - name: Deploy
        run: |
          hexo clean
          hexo g
          hexo deploy
